.searchItem {
  padding: 10px;
  display: flex;
  color: black;
  z-index: 3;

}

.searchTitle {
  font-weight: 300;
  color: gray;
  font-size: 50px;
  margin: 20px;
}

.searchInput {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 20px;
  gap: 50px;
}

.input {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  width: 200px;
  background-color: rgb(44, 44, 238);
}

.submitButton {
  width: 250px;
  padding: 10px 20px;
  background-color: rgb(94, 91, 91);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 480px){
.searchItem{
     display: flex;
     flex-direction: column;
      
  }
 .searchTitle{
    font-size: 20px;
    margin: 5px;
  }
  .searchInput {
    margin: 20px;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .searchItem{
     display: flex;
     flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .searchItem{
    display: flex;
    flex-direction: column;
 }
 
}