.container {
  height: calc(100vh - 50px);
  background-color: #003580;
  position: relative;
  overflow: hidden;
}

.arrowContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #324080;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 2;
}

.arrowImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapperBanner {
  width: 400vw;
  height: 100%;
  display: flex;
  transition: all 1.5s ease-in-out;
  overflow: hidden;
}

.imgContainer {
  width: 100vw;
  height: 100%;
}

.rocketImages {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .container {
    height: 50vh;
  }
  
}

@media screen and (max-width: 768px) {
  .container {
    height: 50vh;
  }

  .arrowContainer {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .arrowContainer {
    margin-right: 100px;
    margin-left: 80px;
  }
}
